[Unit]
Description=DiagNet/VmWatch summary scheduler every 5 minutes
[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=diagnet-alert.service
[Install]
WantedBy=timers.target
